.metadataItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--blog-metadata-text);
  font-size: var(--font-sm);

  svg {
    width: 16px;
    height: 16px;
    color: var(--color-primary);
  }
}