.container {
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding: 0 2rem;
}

@include aboveTablet {
  .container {
    padding: 0 2.5rem;
  }
}

@include aboveDesktop {
  .container {
    padding: 0 3rem;
  }
}